<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <pattern >%cm %n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="com.ap.bah.security.webservice" additivity="false" level="info">
            <AppenderRef ref="Console"/>
        </logger>
        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>